{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta htttp-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-png">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>TODOList APP</title>
    </head>
    <body>
        <header> 
            <div class="container m-5 p-2 rounded mx-auto bg-light shadow"> 
                <div class="row m-1 p-4">
                    <div class="col">
                        <div class="p-1 h1 text-center text-success mx-auto display-inline-block">
                            <i class="bi bi-check2-square"></i>
                            <u>TODOList App</u>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% if user.is_authenticated %}
        <div class="container m-5 p-2 rounded mx-auto bg-light shadow"> 
            <div class="row m-1 p-4">
                <div class="col">
                    <div class="p-1 h2 text-center text-success mx-auto display-inline-block">
                        <label>{{ user.get_username }} task list</label>
                        <a href="{% url 'task_new' %}" class="link-success" data-bs-toggle="tooltip" data-bs-placement="rigth" title="Добавить задачу"><i class="bi bi-plus-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="todo-list"> 
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% else %}
        <div class="container m-5 p-2 rounded mx-auto bg-light shadow"> 
            <div class="row m-1 p-4">
                <div class="col">
                    <div class="h2 text-center text-warning mx-auto display-inline-block border-bottom border-warning">
                        <i class="bi bi-exclamation-triangle"></i>
                        <p>Hi Anonymus! You must register or log in</p>
                </div>
            </div>
        </div>
        {% endif %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

