{% load static %}
<html>
    <head>
        <title>TODOList APP</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>TODOList App</h1>
        </div>
        {% if user.is_authenticated %}
        <div class="content-header">
            <a href="{% url 'task_new' %}" class="top-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </a>
  
                
            <h2>{{ user.get_username }} task list</h2>
        </div>
        <div class="container"> 
           {% block content %}
           {% endblock %}
        </div>
        {% else %}
            <div class="content-header">
                <h2>Hi Anonymus! You must register or log in</h2>
            </div>
        </div>
        {% endif %}
    </body>
</html>

