{% extends 'todolist/base.html' %}

{% block content %}
    {% for task in tasks %}
        {% if task.task_status == True %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="checkbox">{{ task.status }}
                    <label>{{ task.text }}</label>
                </div>
       {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="checkbox">{{ task.status }}
                    <label>{{ task.text }}</label>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
        
