{% extends 'todolist/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md">
        {% for task in tasks.current_tasks %}
            <input type="checkbox">{{ task.status }}
            <label>{{ task.text }}</label>
            <br>
        {% endfor %}
        </div>
        <div class="col-md">
        {% for task in tasks.end_tasks%}
            <input type="checkbox" checked disabled>{{ task.status }}
            <label>{{ task.text }}</label>
            <br>
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
        
