{% extends 'todolist/base.html' %}

{% block content %}
    <div class="container">
    {% for task in tasks.current_tasks %}
        <div class="row">
            <div class="col">
                <input type="checkbox">{{ task.status }}
                <label>{{ task.text }}</label>
            </div>
        </div>
    {% endfor %}
    {% for task in tasks.end_tasks %}
        <div class="row">
            <div class="col">
                <input type="checkbox">{{ task.status }}
                <label>{{ task.text }}</label>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
        
