{% extends 'todolist/base.html' %}

{% block content %}
    <div class="container m-1 p-1 rounded mx-auto bg-ligth shadow">
            <form method="POST" class="post-form">{% csrf_token %}
                    {% for field in form %}
                    <div> 
                        {{field.label_tag}}
                        <div class="mx-auto">{{field}}</div><label><label>
                    </div>
                    {% endfor %}
                <button type="submit" class="save btn btn-success btn-sm">Save</button>
            </form>
    </div>
{% endblock %}
